name: release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - run: node -v
      - run: npm -v

      # 升级 npm，确保 >= 11.5.1
      - run: npm install -g npm@latest
      - run: npm -v

      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
      - run: pnpm run build

      - name: Publish to npm via OIDC
        run: npm publish --provenance
